n8n/workflow.json
{
  "name": "Meridian Workflow Foundation",
  "nodes": [
    {
      "parameters": {
        "content": "## Meridian Workflow Foundation\n\nThis workflow now mixes live source ingestion with a live pass-1 LLM extraction step.\n\nCurrent scope:\n- seed a focus and user context from a mocked snapshot of the journalism config contract\n- select the matching RSS sources for the active focus\n- ingest live RSS items from the two RSS feeds in the current journalism snapshot\n- apply the configured lookback window and normalize the combined items into a prompt-safe source batch shape\n- call Gemini 3.1 Flash-Lite Preview for pass-1 pain-point extraction with structured JSON output\n- prepare a mocked pass-2 synthesis payload and persistence payloads for later slices\n\nNext steps:\n- replace the mocked config snapshot with a real config-loading step\n- generalize source fan-out beyond the current explicit RSS branches\n- add more RSS, Reddit, and HTTP sources\n- replace mocked pass-2 synthesis with a live LLM call\n- replace placeholder persistence payloads with PostgreSQL write nodes",
        "height": 500,
        "width": 520,
        "color": 6
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881001",
      "name": "Workflow Scope",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        60
      ]
    },
    {
      "parameters": {},
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const industryConfig = {\n  industry: 'journalism',\n  label: 'Journalism & Media',\n  lookback_days: 7,\n  focus_rotation: [\n    {\n      week: 3,\n      slug: 'tooling-workflow',\n      label: 'Tooling & Workflow',\n      keywords: ['cms', 'workflow', 'publishing', 'editorial tools', 'collaboration', 'newsroom systems'],\n    },\n  ],\n  sources: [\n    {\n      name: 'Nieman Lab',\n      type: 'rss',\n      url: 'https://www.niemanlab.org/feed/',\n      focus_areas: ['tooling-workflow', 'ai-automation'],\n    },\n    {\n      name: 'Poynter',\n      type: 'rss',\n      url: 'https://www.poynter.org/feed/',\n      focus_areas: ['tooling-workflow', 'trust-misinformation'],\n    },\n    {\n      name: 'r/journalism',\n      type: 'reddit',\n      subreddit: 'journalism',\n      sort: 'hot',\n      limit: 25,\n      focus_areas: ['all'],\n    },\n  ],\n};\n\nconst selectedFocus = industryConfig.focus_rotation[0];\nconst selectedRssSources = industryConfig.sources\n  .filter((source) => source.type === 'rss')\n  .filter((source) => source.focus_areas.includes(selectedFocus.slug) || source.focus_areas.includes('all'));\n\nif (selectedRssSources.length === 0) {\n  throw new Error(`No RSS sources found for focus ${selectedFocus.slug}`);\n}\n\nreturn [\n  {\n    json: {\n      run_context: {\n        industry_slug: industryConfig.industry,\n        industry_label: industryConfig.label,\n        focus_slug: selectedFocus.slug,\n        focus_label: selectedFocus.label,\n        week_number: selectedFocus.week,\n        user_context: 'Editors keep describing publishing systems as brittle and fragmented.',\n        lookback_days: industryConfig.lookback_days,\n      },\n      industry_config: industryConfig,\n      selected_rss_sources: selectedRssSources,\n      config_snapshot_note: 'Mocked subset of config/journalism.json for workflow importability. Replace with a real config-loading step in a later slice.',\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881003",
      "name": "Seed Mock Run Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Seed Mock Run Context').first().json;\nconst source = seedNode.selected_rss_sources[0];\n\nif (!source) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      source_name: source.name,\n      source_type: source.type,\n      source_url: source.url,\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881012",
      "name": "Prepare RSS Source 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "options": {}
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881010",
      "name": "RSS Read 1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1120,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare RSS Source 1').first().json;\nconst maxIntermediateContentLength = 6000;\n\nconst normalizePublishedAt = (value) => {\n  if (!value) {\n    return null;\n  }\n\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n};\n\nconst stripHtml = (value) => value.replace(/<[^>]+>/g, ' ');\nconst normalizeWhitespace = (value) => value.replace(/\\s+/g, ' ').trim();\nconst toPlainText = (value) => normalizeWhitespace(stripHtml(typeof value === 'string' ? value : ''));\nconst truncateContent = (value, maxLength) => {\n  if (value.length <= maxLength) {\n    return { text: value, truncated: false };\n  }\n\n  const ellipsis = '...';\n  if (maxLength <= ellipsis.length) {\n    return {\n      text: ellipsis.slice(0, maxLength),\n      truncated: true,\n    };\n  }\n\n  return {\n    text: `${value.slice(0, maxLength - ellipsis.length).trimEnd()}${ellipsis}`,\n    truncated: true,\n  };\n};\n\nreturn $input.all().map((item) => {\n  const title = toPlainText(item.json.title) || 'Untitled feed item';\n  const rawContent = item.json.contentSnippet ?? item.json.content ?? item.json.summary ?? item.json.description ?? '';\n  const plainTextContent = toPlainText(rawContent);\n  const { text: contentInput, truncated: contentInputTruncated } = truncateContent(plainTextContent, maxIntermediateContentLength);\n\n  return {\n    json: {\n      source_name: source.source_name,\n      source_type: source.source_type,\n      source_url: item.json.link ?? item.json.guid ?? source.source_url,\n      feed_source_url: source.source_url,\n      title,\n      content_input: contentInput,\n      content_input_truncated: contentInputTruncated,\n      published_at: normalizePublishedAt(item.json.isoDate ?? item.json.pubDate ?? null),\n    },\n  };\n});"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881014",
      "name": "Normalize RSS Feed Items 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Seed Mock Run Context').first().json;\nconst source = seedNode.selected_rss_sources[1];\n\nif (!source) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      source_name: source.name,\n      source_type: source.type,\n      source_url: source.url,\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881015",
      "name": "Prepare RSS Source 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "options": {}
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881016",
      "name": "RSS Read 2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1120,
        440
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare RSS Source 2').first().json;\nconst maxIntermediateContentLength = 6000;\n\nconst normalizePublishedAt = (value) => {\n  if (!value) {\n    return null;\n  }\n\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n};\n\nconst stripHtml = (value) => value.replace(/<[^>]+>/g, ' ');\nconst normalizeWhitespace = (value) => value.replace(/\\s+/g, ' ').trim();\nconst toPlainText = (value) => normalizeWhitespace(stripHtml(typeof value === 'string' ? value : ''));\nconst truncateContent = (value, maxLength) => {\n  if (value.length <= maxLength) {\n    return { text: value, truncated: false };\n  }\n\n  const ellipsis = '...';\n  if (maxLength <= ellipsis.length) {\n    return {\n      text: ellipsis.slice(0, maxLength),\n      truncated: true,\n    };\n  }\n\n  return {\n    text: `${value.slice(0, maxLength - ellipsis.length).trimEnd()}${ellipsis}`,\n    truncated: true,\n  };\n};\n\nreturn $input.all().map((item) => {\n  const title = toPlainText(item.json.title) || 'Untitled feed item';\n  const rawContent = item.json.contentSnippet ?? item.json.content ?? item.json.summary ?? item.json.description ?? '';\n  const plainTextContent = toPlainText(rawContent);\n  const { text: contentInput, truncated: contentInputTruncated } = truncateContent(plainTextContent, maxIntermediateContentLength);\n\n  return {\n    json: {\n      source_name: source.source_name,\n      source_type: source.source_type,\n      source_url: item.json.link ?? item.json.guid ?? source.source_url,\n      feed_source_url: source.source_url,\n      title,\n      content_input: contentInput,\n      content_input_truncated: contentInputTruncated,\n      published_at: normalizePublishedAt(item.json.isoDate ?? item.json.pubDate ?? null),\n    },\n  };\n});"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881017",
      "name": "Normalize RSS Feed Items 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        440
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881018",
      "name": "Merge RSS Items",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1660,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Seed Mock Run Context').first().json;\nconst runContext = seedNode.run_context;\nconst industryConfig = seedNode.industry_config;\nconst selectedRssSources = seedNode.selected_rss_sources;\nconst focusKeywords = industryConfig.focus_rotation.find((focus) => focus.slug === runContext.focus_slug)?.keywords ?? [];\nconst maxContentLength = 4000;\nconst maxLiveSourceItems = 6;\nconst lookbackDays = Number(runContext.lookback_days) || 0;\nconst lookbackCutoff = lookbackDays > 0\n  ? new Date(Date.now() - lookbackDays * 24 * 60 * 60 * 1000)\n  : null;\n\nconst isWithinLookback = (publishedAt) => {\n  if (!lookbackCutoff) {\n    return true;\n  }\n\n  if (!publishedAt) {\n    return false;\n  }\n\n  return new Date(publishedAt).getTime() >= lookbackCutoff.getTime();\n};\n\nconst truncateContent = (value, maxLength) => {\n  if (value.length <= maxLength) {\n    return { text: value, truncated: false };\n  }\n\n  const ellipsis = '...';\n  if (maxLength <= ellipsis.length) {\n    return {\n      text: ellipsis.slice(0, maxLength),\n      truncated: true,\n    };\n  }\n\n  return {\n    text: `${value.slice(0, maxLength - ellipsis.length).trimEnd()}${ellipsis}`,\n    truncated: true,\n  };\n};\n\nconst normalizedItems = $input.all().map((item, index) => {\n  const feedItem = item.json;\n  const { text: content, truncated: contentTruncated } = truncateContent(feedItem.content_input ?? '', maxContentLength);\n  const haystack = `${feedItem.title} ${content}`.toLowerCase();\n\n  return {\n    id: `source-${index + 1}`,\n    source_name: feedItem.source_name,\n    source_type: feedItem.source_type,\n    source_url: feedItem.source_url,\n    feed_source_url: feedItem.feed_source_url,\n    title: feedItem.title,\n    content,\n    content_truncated: feedItem.content_input_truncated || contentTruncated,\n    published_at: feedItem.published_at,\n    matched_keywords: focusKeywords.filter((keyword) => haystack.includes(keyword.toLowerCase())),\n  };\n});\n\nconst lookbackItems = normalizedItems.filter((item) => isWithinLookback(item.published_at));\nconst keywordMatchedItems = lookbackItems.filter((item) => item.matched_keywords.length > 0);\nconst sourceCandidates = keywordMatchedItems.length > 0\n  ? keywordMatchedItems\n  : lookbackItems.length > 0\n    ? lookbackItems.slice(0, maxLiveSourceItems)\n    : normalizedItems.slice(0, maxLiveSourceItems);\nconst sourceBatch = sourceCandidates.map((item, index) => ({\n  ...item,\n  id: `source-${index + 1}`,\n}));\nconst contributingSourceCount = new Set(normalizedItems.map((item) => item.feed_source_url)).size;\n\nconst sourceIngestionNote = keywordMatchedItems.length > 0\n  ? `Source batch built from ${contributingSourceCount} of ${selectedRssSources.length} configured RSS sources within the lookback window and filtered by focus keywords. Content is normalized to plain text and bounded for prompt use. Live pass-1 extraction is currently capped at ${maxLiveSourceItems} source documents per run and throttled between requests.`\n  : lookbackItems.length > 0\n    ? `No live RSS items within the lookback window matched the focus keywords, so the workflow kept the first ${maxLiveSourceItems} recent feed items from ${contributingSourceCount} of ${selectedRssSources.length} configured RSS sources as a fallback. Content is normalized to plain text and bounded for prompt use.`\n    : `No live RSS items fell within the configured lookback window, so the workflow kept the first ${maxLiveSourceItems} feed items from ${contributingSourceCount} of ${selectedRssSources.length} configured RSS sources as a fallback. Content is normalized to plain text and bounded for prompt use.`;\n\nreturn [\n  {\n    json: {\n      run_context: runContext,\n      industry_config: industryConfig,\n      selected_rss_sources: selectedRssSources,\n      config_snapshot_note: seedNode.config_snapshot_note,\n      focus_keywords: focusKeywords,\n      lookback_cutoff: lookbackCutoff ? lookbackCutoff.toISOString() : null,\n      contributing_source_count: contributingSourceCount,\n      source_ingestion_note: sourceIngestionNote,\n      source_batch: sourceBatch,\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881011",
      "name": "Build Live Source Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const templateRef = 'n8n/prompts/pass-1-extraction.md';\nconst { run_context, source_batch } = $json;\n\nconst extractionRequests = source_batch.map((source) => {\n  const renderedPrompt = [\n    'System: You are analyzing content from journalism industry sources.',\n    `This week\\'s focus: ${run_context.focus_label}.`,\n    `The person running this analysis added the following context`,\n    `and hunches to guide your attention: \"${run_context.user_context}\"`,\n    'Weight pain points related to their observations more heavily.',\n    '',\n    'Extract any professional pain points, unmet needs, or recurring',\n    'frustrations mentioned or implied. Return JSON only.',\n    '',\n    '{',\n    '  \"pain_points\": [',\n    '    {',\n    '      \"description\": \"string - the pain point in plain language\",',\n    '      \"who_feels_it\": \"string - which role or group\",',\n    '      \"evidence_quote\": \"string - short supporting excerpt\",',\n    '      \"severity\": \"low | medium | high\"',\n    '    }',\n    '  ],',\n    '  \"source_summary\": \"string - 1-2 sentence summary of the source content\"',\n    '}',\n    '',\n    'If no pain points are present, return {\"pain_points\": [], \"source_summary\": \"...\"}',\n    '',\n    `Source title: ${source.title}`,\n    `Source content: ${source.content}`,\n  ].join('\\n');\n\n  return {\n    source_id: source.id,\n    source_name: source.source_name,\n    source_url: source.source_url,\n    source_type: source.source_type,\n    prompt_template_ref: templateRef,\n    rendered_prompt: renderedPrompt,\n    source_document: source,\n  };\n});\n\nreturn [\n  {\n    json: {\n      ...$json,\n      extraction_requests: extractionRequests,\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881005",
      "name": "Build Pass 1 Prompt Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const defaultModel = 'gemini-3.1-flash-lite-preview';\nconst extractionSchema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    pain_points: {\n      type: 'array',\n      items: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          description: { type: 'string' },\n          who_feels_it: { type: 'string' },\n          evidence_quote: { type: 'string' },\n          severity: {\n            type: 'string',\n            enum: ['low', 'medium', 'high']\n          }\n        },\n        required: ['description', 'who_feels_it', 'evidence_quote', 'severity']\n      }\n    },\n    source_summary: { type: 'string' }\n  },\n  required: ['pain_points', 'source_summary']\n};\n\nreturn $json.extraction_requests.map((request) => ({\n  json: {\n    ...request,\n    llm_provider: 'gemini',\n    llm_model: defaultModel,\n    gemini_request: {\n      contents: [\n        {\n          parts: [\n            {\n              text: request.rendered_prompt\n            }\n          ]\n        }\n      ],\n      generationConfig: {\n        temperature: 0.2,\n        responseMimeType: 'application/json',\n        responseSchema: extractionSchema\n      }\n    }\n  }\n}));"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881019",
      "name": "Prepare Live Pass 1 Calls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/' + $json.llm_model + ':generateContent' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_request }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3500
            }
          },
          "timeout": 60000
        }
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881020",
      "name": "Gemini Pass 1 Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestItems = $('Prepare Live Pass 1 Calls').all();\n\nconst getResponseText = (response) => {\n  const candidates = Array.isArray(response.candidates) ? response.candidates : [];\n\n  for (const candidate of candidates) {\n    const parts = candidate?.content?.parts;\n\n    if (!Array.isArray(parts)) {\n      continue;\n    }\n\n    for (const part of parts) {\n      if (typeof part?.text === 'string') {\n        return part.text;\n      }\n    }\n  }\n\n  throw new Error('Gemini pass-1 response did not include structured text output.');\n};\n\nreturn $input.all().map((item, index) => {\n  const request = requestItems[index]?.json;\n\n  if (!request) {\n    throw new Error(`Missing request context for Gemini response index ${index}.`);\n  }\n\n  const response = item.json;\n\n  let responseText;\n  try {\n    responseText = getResponseText(response);\n  } catch (error) {\n    let rawResponseSnippet = '';\n\n    try {\n      rawResponseSnippet = JSON.stringify(response).slice(0, 500);\n    } catch (stringifyError) {\n      rawResponseSnippet = String(response).slice(0, 500);\n    }\n\n    throw new Error(\n      `Gemini pass-1 response did not include structured text output for source_id=${request.source_id || 'unknown'} ` +\n      `source_url=${request.source_url || 'unknown'} model=${request.llm_model || 'unknown'} index=${index}. ` +\n      `Underlying error: ${error.message}. Raw response snippet: ${rawResponseSnippet}`,\n    );\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(responseText);\n  } catch (error) {\n    const rawTextSnippet = responseText.slice(0, 500);\n\n    throw new Error(\n      `Failed to parse Gemini pass-1 JSON for source_id=${request.source_id || 'unknown'} ` +\n      `source_url=${request.source_url || 'unknown'} model=${request.llm_model || 'unknown'} index=${index}. ` +\n      `Raw text snippet: ${rawTextSnippet}. Error: ${error.message}`,\n    );\n  }\n\n  const painPoints = Array.isArray(parsed.pain_points) ? parsed.pain_points : [];\n\n  return {\n    json: {\n      source_id: request.source_id,\n      source_name: request.source_name,\n      source_url: request.source_url,\n      source_summary: typeof parsed.source_summary === 'string' ? parsed.source_summary : '',\n      pain_points: painPoints.map((painPoint) => ({\n        description: painPoint.description,\n        who_feels_it: painPoint.who_feels_it,\n        evidence_quote: painPoint.evidence_quote,\n        severity: painPoint.severity,\n      })),\n      llm_provider: request.llm_provider,\n      llm_model: request.llm_model,\n    },\n  };\n});"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881021",
      "name": "Parse Live Extraction Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowState = $('Build Pass 1 Prompt Payloads').first().json;\nconst extractionResults = $input.all().map((item) => item.json);\n\nreturn [\n  {\n    json: {\n      ...workflowState,\n      extraction_results: extractionResults,\n      pain_point_count: extractionResults.reduce((total, result) => total + result.pain_points.length, 0),\n      pass_1_note: extractionResults.length > 0\n        ? `Pass-1 extraction completed with live Gemini calls across ${extractionResults.length} source documents.`\n        : 'Pass-1 extraction completed with no source documents selected for extraction.',\n      pass_1_models: [...new Set(extractionResults.map((result) => result.llm_model))],\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881022",
      "name": "Aggregate Live Extraction Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggregatedPainPoints = $json.extraction_results.flatMap((result) =>\n  result.pain_points.map((painPoint) => ({\n    ...painPoint,\n    source_name: result.source_name,\n    source_url: result.source_url,\n  })),\n);\n\nconst synthesisPrompt = [\n  'System: You are synthesizing a week\\'s worth of pain point data from',\n  `journalism/media industry sources. This week\\'s focus: ${$json.run_context.focus_label}.`,\n  '',\n  `You have ${aggregatedPainPoints.length} pain points extracted from ${$json.extraction_results.length} sources.`,\n  '',\n  'The person running this analysis shared the following context',\n  `before this run: \"${$json.run_context.user_context}\"`,\n  'Factor their perspective into your synthesis. If their hunches',\n  'align with patterns in the data, call that out. If the data',\n  'contradicts their assumptions, call that out too.',\n  '',\n  'Generate a weekly briefing with the following sections:',\n  '',\n  '1. INDUSTRY CONTEXT',\n  'Brief state-of-the-industry snapshot relevant to this week\\'s focus.',\n  '2-3 sentences. What\\'s happening right now that makes these pain points',\n  'timely.',\n  '',\n  '2. KEY PAIN POINTS (top 3-5, ranked by signal strength)',\n  'For each:',\n  '- Description',\n  '- Signal strength: how many sources mentioned this, how recently,',\n  '  how diverse the sources (score 1-10)',\n  '- Demand velocity: is this pain point growing, stable, or long-standing?',\n  '',\n  '3. BUSINESS IDEAS (3-5 loosely formed starting points)',\n  'For each:',\n  '- The pain point it addresses',\n  '- A rough concept (1-2 sentences, not a business plan)',\n  '- Who might already be trying (if known)',\n  '- One non-obvious angle the builder might consider',\n  '',\n  '4. DIG DEEPER',\n  '- Source links that informed this briefing (with 1-line descriptions)',\n  '- Adjacent communities or people worth following on this topic',\n  '- Related reading that didn\\'t make the main briefing but is worth scanning',\n  '',\n  'Return JSON matching this structure:',\n  '{',\n  '  \"industry_context\": \"string\",',\n  '  \"key_pain_points\": [',\n  '    {',\n  '      \"description\": \"string\",',\n  '      \"signal_strength\": 0,',\n  '      \"demand_velocity\": \"growing | stable | long-standing\",',\n  '      \"who_feels_it\": \"string\"',\n  '    }',\n  '  ],',\n  '  \"business_ideas\": [',\n  '    {',\n  '      \"pain_point\": \"string\",',\n  '      \"concept\": \"string\",',\n  '      \"whos_trying\": \"string\",',\n  '      \"non_obvious_angle\": \"string\"',\n  '    }',\n  '  ],',\n  '  \"dig_deeper\": {',\n  '    \"source_links\": [',\n  '      {',\n  '        \"name\": \"string\",',\n  '        \"url\": \"string\",',\n  '        \"note\": \"string\"',\n  '      }',\n  '    ],',\n  '    \"communities\": [\"string\"],',\n  '    \"related_reading\": [\"string\"]',\n  '  }',\n  '}',\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      ...$json,\n      aggregated_pain_points: aggregatedPainPoints,\n      synthesis_request: {\n        prompt_template_ref: 'n8n/prompts/pass-2-synthesis.md',\n        rendered_prompt: synthesisPrompt,\n        count: aggregatedPainPoints.length,\n        source_count: $json.extraction_results.length,\n      },\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881007",
      "name": "Build Pass 2 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3460,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const publishedAt = new Date().toISOString();\n\nconst briefing = {\n  industry_context: 'Journalism tooling pain is showing up as a workflow problem rather than a single-software problem. Teams are spending time bridging gaps between editorial, publishing, and distribution tools.',\n  key_pain_points: [\n    {\n      description: 'Publishing systems force manual workarounds.',\n      signal_strength: 9,\n      demand_velocity: 'growing',\n      who_feels_it: 'Editors and reporters',\n    },\n  ],\n  business_ideas: [\n    {\n      pain_point: 'Publishing systems force manual workarounds.',\n      concept: 'A newsroom workflow layer that coordinates approvals and downstream publish targets without forcing a CMS replacement.',\n      whos_trying: 'General editorial workflow tools',\n      non_obvious_angle: 'Treat newsletter and social outputs as first-class release targets.',\n    },\n  ],\n  dig_deeper: {\n    source_links: $json.source_batch.map((source) => ({\n      name: source.source_name,\n      url: source.source_url,\n      note: source.title,\n    })),\n    communities: ['r/journalism', 'Local newsroom operators', 'Newsletter-first publishers'],\n    related_reading: ['Look for places where workflow pain is really a distribution bottleneck in disguise.'],\n  },\n};\n\nconst briefingsRowPendingResolution = {\n  industry_id: null,\n  industry_slug: $json.run_context.industry_slug,\n  focus_slug: $json.run_context.focus_slug,\n  focus_label: $json.run_context.focus_label,\n  focus_was_custom: false,\n  user_context: $json.run_context.user_context,\n  week_number: $json.run_context.week_number,\n  briefing,\n  source_count: $json.source_batch.length,\n  pain_point_count: $json.aggregated_pain_points.length,\n  published_at: publishedAt,\n};\n\nconst painPointRowsPendingBriefingId = $json.aggregated_pain_points.map((painPoint) => ({\n  briefing_id: null,\n  description: painPoint.description,\n  who_feels_it: painPoint.who_feels_it,\n  evidence_quote: painPoint.evidence_quote,\n  severity: painPoint.severity,\n  source_name: painPoint.source_name,\n  source_url: painPoint.source_url,\n  extracted_at: publishedAt,\n}));\n\nreturn [\n  {\n    json: {\n      run_context: $json.run_context,\n      industry_config: $json.industry_config,\n      selected_rss_sources: $json.selected_rss_sources,\n      config_snapshot_note: $json.config_snapshot_note,\n      source_ingestion_note: $json.source_ingestion_note,\n      source_plan: $json.source_batch,\n      prompt_requests: {\n        pass_1: $json.extraction_requests,\n        pass_2: $json.synthesis_request,\n      },\n      extraction_results: $json.extraction_results,\n      briefing,\n      persistence_payloads: {\n        resolution_notes: [\n          'Resolve run_context.industry_slug to industries.id before inserting a briefing row.',\n          'Use the inserted briefing.id as briefing_id on each pain point row before insert.'\n        ],\n        briefings_row_pending_resolution: briefingsRowPendingResolution,\n        pain_points_rows_pending_briefing_id: painPointRowsPendingBriefingId,\n      },\n    },\n  },\n];"
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881008",
      "name": "Build Persistence Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Next integration cuts\n\nThis slice leaves source ingestion and pass-1 extraction live, while pass-2 synthesis and persistence are still mocked.\n\nNext steps:\n- replace the mocked config snapshot with a real config-loading step\n- generalize source fan-out beyond the current explicit RSS branches\n- add Reddit and HTTP sources for the active focus\n- replace `Build Pass 2 Payload` with a live LLM pass-2 node\n- replace `Build Persistence Payloads` with PostgreSQL writes",
        "height": 320,
        "width": 430,
        "color": 5
      },
      "id": "6d42df66-08cc-4ce0-b83d-2372d8881009",
      "name": "Next Steps",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        80
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Seed Mock Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Mock Run Context": {
      "main": [
        [
          {
            "node": "Prepare RSS Source 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare RSS Source 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RSS Source 1": {
      "main": [
        [
          {
            "node": "RSS Read 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read 1": {
      "main": [
        [
          {
            "node": "Normalize RSS Feed Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RSS Source 2": {
      "main": [
        [
          {
            "node": "RSS Read 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read 2": {
      "main": [
        [
          {
            "node": "Normalize RSS Feed Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Feed Items 1": {
      "main": [
        [
          {
            "node": "Merge RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Feed Items 2": {
      "main": [
        [
          {
            "node": "Merge RSS Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS Items": {
      "main": [
        [
          {
            "node": "Build Live Source Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Live Source Batch": {
      "main": [
        [
          {
            "node": "Build Pass 1 Prompt Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 1 Prompt Payloads": {
      "main": [
        [
          {
            "node": "Prepare Live Pass 1 Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Live Pass 1 Calls": {
      "main": [
        [
          {
            "node": "Gemini Pass 1 Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Pass 1 Extraction": {
      "main": [
        [
          {
            "node": "Parse Live Extraction Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Live Extraction Results": {
      "main": [
        [
          {
            "node": "Aggregate Live Extraction Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Live Extraction Results": {
      "main": [
        [
          {
            "node": "Build Pass 2 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 2 Payload": {
      "main": [
        [
          {
            "node": "Build Persistence Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b0c4eac-ef92-4d87-8ff2-c646775cc4a8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "meridian-workflow-foundation",
  "tags": []
}
